{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability:: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render '
  <div class="partial-paymant__btn ">
  {% if product.available %}
  <button id="partial-paymant__btn--add" class="partial-paymant__btn--add product-form__submit button button--full-width" data-quantity="1" data-id="{{ product.id }}" data-properties="{{ product.selected_or_first_available_variant.id }}">Częściowa płatność</button>
  {% else %}
  <p>This product is not available.</p>
  {% endif %}

  {{ content_for_header }}
  </div> ttons', block: block, product: product, product_form_id: product_form_id, show_pickup_availability: true %}
{% endcomment %}
<div{% unless skip_block_attributes %} {{ block.shopify_attributes }}{% endunless %}>
  {%- if product != blank -%}
    <product-form class="product-form">
      <div
        class="product-form__error-message-wrapper"
        role="alert"
        hidden>
        <svg
          aria-hidden="true"
          focusable="false"
          class="icon icon-error"
          viewBox="0 0 13 13">
          <circle
            cx="6.5"
            cy="6.50049"
            r="5.5"
            stroke="white"
            stroke-width="2" />
          <circle
            cx="6.5"
            cy="6.5"
            r="5.5"
            fill="#EB001B"
            stroke="#EB001B"
            stroke-width="0.7" />
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white" />
          <path
            d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
            fill="white"
            stroke="#EB001B"
            stroke-width="0.7">
        </svg>
        <span class="product-form__error-message"></span>
      </div>

      {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          disabled
          class="product-variant-id">

          {% for item in product.collections %}
            {% if item.handle == 'outlet' %}
              {% assign isOutlet = true %}
            {% endif %}
          {% endfor %}
          {% assign hasBitrixCollection = false %}

          {% if product.metafields.custom.bitrix_collection != blank %}
            {% assign hasBitrixCollection = true %}
          {% endif %}

          {% if isOutlet %}
            <input type="hidden" name="attributes[Outlet]" value="Outlet">
          {% endif %}
          
          {% if hasBitrixCollection %}
            <input type="hidden" name="properties[_collection]" value="{{product.metafields.custom.bitrix_collection}}">
          {% endif %}

        {{ 'date.min.js' | asset_url | script_tag }}
        
        
        <div id="product-form__buttons--add " class="{%- unless product.tags contains 'no-mws-options' or product.template_suffix contains 'config' -%} disabled-mws {% endunless %} product-form__buttons{% if config_checkout %} evamats-config-checkout__form-buttons{% endif %}">
          

          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="product-form__submit button button--full-width {% if config_checkout %}evamats-config-checkout__cart{% elsif block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
            disabled
            {% endif %}
          >
            
            <div style="position: absolute; display: block; width: 100%;height: 100%;"></div>
            <div class="loading-overlay__spinner hidden" aria-hidden="true">
              <span class="loader"></span>
            </div>
            {%- if config_checkout -%}
              {% render 'icon-cart' %}
            {%- endif -%}
            <span class="{% if config_checkout %}evamats-config-checkout__cart-label{% endif %}"{% if config_checkout %} data-add-to-cart-label{% endif %}>
              {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>

            {%- unless config_checkout -%}
              <span id="mws-product_price">
                {{ money_price }}
              </span>

              {%- assign btn_variant = product.selected_or_first_available_variant -%}
              <div class="button_price">{{ btn_variant.price | money_without_trailing_zeros }}</div>
            {%- endunless -%}

          </button>

          {%- if block.settings.show_dynamic_checkout -%}
            <div class="payment-btn-loading-overlay__spinner ">
              <div class="loading-overlay__spinner mws_hide-btn">
                <span class="loader"></span>
              <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg> -->
              </div>
              {{ form | payment_button }}
            </div>
          {%- endif -%}

        </div>

      {%- endform -%}
    </product-form>

    {%- unless config_checkout -%}
      {%- if request.locale.iso_code == 'en' -%}
        <div class="product__right_hand_message hide_on_outlet openPopup" data-popup="popupOverlayRightHand">{{ 'general.config.right_hand_message_short' | t }}</div>
        <div class="product__right_hand_message show_on_outlet">🚗 This set for left-hand drive vehicle</div>
      {%- endif -%}
    {%- endunless -%}
  {%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width button--primary"
          >
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}

  
  {% comment %} <button id="add-to-cart-and-checkout" class="button--full-width button " data-id="{{ product.selected_or_first_available_variant.id }}" >{{'general.config.buy_now' | t }} <div class="button_price"> {{ product.selected_or_first_available_variant.price | money }}</div></button>         {% endcomment %}
  
</div>
