{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{% assign isHeelPad = false %}
{% for item in product.collections %}
  {% if item.handle == 'podpietki' %}
    {% assign isHeelPad = true %}
  {% endif %}
{% endfor %}
{%- unless product.has_only_default_variant -%}
  {%- if block.settings.picker_type == 'button' -%}
    {% if product.template_suffix contains 'config' %}
      <variant-radios
        id="variant-radios-{{ section.id }}"
        class="no-js-hidden"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}"
        {% if update_url == false %}
          data-update-url="false"
        {% endif %}
        {{ block.shopify_attributes }}
      >
        {%- liquid
          assign show_config_intro = true
          if product.metafields.custom.body_type == 'corners'
            assign show_config_intro = false
            assign mats_type_label = 'general.config.mats_type' | t
            for option in product.options_with_values
              if option.name contains mats_type_label or option.name == 'Mats type'
                assign show_config_intro = true
              endif
            endfor
          endif
        -%}
        {%- if show_config_intro -%}
        <div class="evamats-config-intro" data-config-intro>
          {%- for option in product.options_with_values -%}
            {% assign optionMatsType = 'general.config.mats_type' | t %}
            {% assign isMatsType = false %}
            {% assign fieldsetClass = '' %}

            {% if option.name contains optionMatsType or option.name == 'Mats type' %}
              {% assign isMatsType = true %}
              {% assign fieldsetClass = 'mats_type' %}
            {% endif %}

            {% if isMatsType %}
              <fieldset class="js product-form__input lip__field" data-name="{{ fieldsetClass }}" data-option-position="{{ option.position }}">
                <legend class="form__label lip__title">
                  <span class="form__label_text">{{ option.name }}</span>
                  <div class="lip__title_value"></div>
                </legend>
                {% render 'product-variant-options', product: product, option: option, block: block %}
              </fieldset>
            {% endif %}
          {%- endfor -%}

          {% unless product.metafields.custom.body_type == 'corners' %}
            {% render 'evamats-config-intro-fields', product: product, product_form_id: product_form_id, section: section %}
          {% endunless %}

          <button type="button" class="product__dropdown_button button button_5">{{ 'general.config.continue' | t }}</button>
        </div>
        {%- endif -%}

        <div class="product__dropdown_wr disabled" {% unless isHeelPad %}data-dropdown="mats_set_type"{% endunless %}>
          <div class="product__dropdown_title">
            {% if product.metafields.custom.body_type == 'corners' %}
              {{ 'general.config.select_size' | t }}:
            {% else %}
              {{ 'general.config.select_mats_type_and_set' | t }}:
            {% endif %}
            <span class="product__dropdown_value"></span>
            {% render 'icon-config-caret' %}{% render 'icon-edit' %}
          </div>
          <div class="product__dropdown_inner">
            {%- for option in product.options_with_values -%}
              {% assign optionMatsSet = 'general.config.mats_set' | t %}
              {% assign optionMatsSize = 'general.config.mats_size' | t %}
              {% assign isMatsSet = false %}
              {% assign isMatsSize = false %}
              {% assign fieldsetClass = '' %}

              {% if option.name contains optionMatsSet or option.name == 'Mats set' %}
                {% assign isMatsSet = true %}
                {% assign fieldsetClass = 'mats_set' %}
              {% endif %}
              {% if option.name contains optionMatsSize or option.name == 'Size' %}
                {% assign isMatsSize = true %}
                {% assign fieldsetClass = 'mats_size' %}
              {% endif %}

              {% if isMatsSet or isMatsSize %}
                {%- liquid
                  assign use_corners_text_option = false
                  if product.metafields.custom.body_type == 'corners' and isMatsSize
                    assign use_corners_text_option = true
                  endif
                -%}
                {% if use_corners_text_option %}
                  <fieldset class="js product-form__input lip__field evamats-product-option evamats-product-option--text" {% if option.name == 'Title' %} style="display: none"{% endif %} data-name="{{ fieldsetClass }}" data-option-position="{{ option.position }}">
                    <legend class="form__label evamats-product-option__legend visually-hidden">
                      <span class="evamats-product-option__label">{{ option.name }}</span>
                      <span class="evamats-product-option__value lip__title_value">{% render 'evamats-strip-brand-label', text: option.selected_value %}</span>
                    </legend>
                    {% render 'product-variant-options',
                      product: product,
                      option: option,
                      block: block,
                      is_simple_product: true,
                      option_has_swatch: false,
                      option_is_gift_amount: false
                    %}
                  </fieldset>
                {% else %}
                  <fieldset class="js product-form__input lip__field" {% if option.name == 'Title' %} style="display: none"{% endif %} data-name="{{ fieldsetClass }}" data-option-position="{{ option.position }}">
                    <legend class="form__label lip__title">
                      <span class="form__label_text">{{ option.name }}</span>
                      <div class="lip__title_value"></div>
                    </legend>

                    {% render 'product-variant-options', product: product, option: option, block: block %}
                  </fieldset>
                {% endif %}
                {% if block.settings.show_discounts %}
                  {% if option.name == 'Zestaw' %}
                    <div class="table_options__wr">
                      <div class="table_options__title">Uzyskaj rabat na swoje zamówienie</div>
                      <table width="100%">
                        <thead>
                          <tr>
                            <td>Rabat</td>
                            <td>Od</td>
                            <td>Kod</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>-5%</td>
                            <td>500 zł</td>
                            <td>NEWYEAR5%</td>
                          </tr>
                          <tr>
                            <td>-15%</td>
                            <td>1200 zł</td>
                            <td>NEWYEAR15%</td>
                          </tr>
                          <tr>
                            <td>-20%</td>
                            <td>2400 zł</td>
                            <td>NEWYEAR20%</td>
                          </tr>
                          <tr>
                            <td>-25%</td>
                            <td>3600 zł</td>
                            <td>NEWYEAR25%</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  {% endif %}
                {% endif %}
              {% endif %}
            {%- endfor -%}

            <button type="button" class="product__dropdown_button button button_5">{{ 'general.config.continue' | t }}</button>
          </div>
        </div>

        {% if product.metafields.custom.outlet_options %}
          {% assign optionName = '' %}
          {% for item in product.metafields.custom.outlet_options.value %}
            {% case forloop.index %}
              {% when 1 %}
                {% assign optionName = 'Kolor materialu' %}
              {% when 2 %}
                {% assign optionName = 'Trim Color' %}
              {% when 3 %}
                {% assign optionName = 'Ksztalt komórek' %}
            {% endcase %}
            <fieldset class="js product-form__input">
              <legend class="form__label lip__title">
                <span class="form__label_text">{{ optionName }}</span>
              </legend>
              <input
                type="radio"
                id="{{ section.id }}-{{ optionName }}-{{ forloop.index0 }}"
                name="properties[{{ optionName }}]"
                data-title="{{ item }}"
                value="{{ item | escape }}"
                form="{{ product_form_id }}"
                checked
              >
              <label for="{{ section.id }}-{{ optionName }}-{{ forloop.index0 }}">
                {{ item -}}
                <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
              </label>
            </fieldset>
          {% endfor %}
        {% endif %}

        <script type="application/json">
          {{ product.variants | json }}
        </script>
      </variant-radios>
    {% else %}
      {%- liquid
        assign is_simple_product = false
        if product.metafields.custom.body_type == blank or product.metafields.custom.body_type == 'corners'
          assign is_simple_product = true
        endif
        assign is_gift_card_product = false
        if product.template_suffix == 'gift-card'
          assign is_gift_card_product = true
        endif
      -%}
          <variant-radios
            id="variant-radios-{{ section.id }}"
            class="no-js-hidden "
            data-section="{{ section.id }}"
            data-url="{{ product.url }}"
            {% if update_url == false %}
              data-update-url="false"
            {% endif %}
            {{ block.shopify_attributes }}
          >
            {%- for option in product.options_with_values -%}

              {% assign optionMatsType = 'general.config.mats_type' | t %}
              {% assign optionMatsSet = 'general.config.mats_set' | t %}
              {% assign optionMatsSize = 'general.config.mats_size' | t %}
              {% assign isConfigTemplate = false %}
              {% if product.template_suffix contains 'config' %}
                {% assign isConfigTemplate = true %}
              {% endif %}
              {% assign isMatsType = false %}
              {% assign isMatsSet = false %}
              {% assign isMatsSize = false %}
              {% assign fieldsetClass = '' %}

              {% if isConfigTemplate %}
                {% if option.name contains optionMatsType or option.name == 'Mats type' %}
                  {% assign isMatsType = true %}
                  {% assign fieldsetClass = 'mats_type' %}
                {% endif %}
                {% if option.name contains optionMatsSet or option.name == 'Mats set' %}
                  {% assign isMatsSet = true %}
                  {% assign fieldsetClass = 'mats_set' %}
                {% endif %}
                {% if option.name contains optionMatsSize or option.name == 'Size' %}
                  {% assign isMatsSize = true %}
                  {% assign fieldsetClass = 'mats_size' %}
                {% endif %}
              {% endif %}
              {% assign option_has_swatch = false %}
              {% assign option_is_gift_amount = false %}
              {% assign option_media_ids = '' %}
              {% assign option_distinct_media_count = 0 %}
              {% if is_simple_product %}
                {% for value in option.values %}
                  {% assign value_variant = nil %}
                  {% for variant in product.variants %}
                    {% case option.position %}
                      {% when 1 %}
                        {% if variant.option1 == value %}
                          {% assign value_variant = variant %}
                        {% endif %}
                      {% when 2 %}
                        {% if variant.option2 == value %}
                          {% assign value_variant = variant %}
                        {% endif %}
                      {% when 3 %}
                        {% if variant.option3 == value %}
                          {% assign value_variant = variant %}
                        {% endif %}
                    {% endcase %}
                  {% endfor %}
                  {% if value_variant.featured_media %}
                    {% assign media_key = ',' | append: value_variant.featured_media.id | append: ',' %}
                    {% unless option_media_ids contains media_key %}
                      {% assign option_media_ids = option_media_ids | append: media_key %}
                      {% assign option_distinct_media_count = option_distinct_media_count | plus: 1 %}
                    {% endunless %}
                  {% endif %}
                {% endfor %}
                {% if option_distinct_media_count >= 2 %}
                  {% assign option_has_swatch = true %}
                {% endif %}
                {% if is_gift_card_product %}
                  {% assign option_name_lc = option.name | downcase %}
                  {% if option_name_lc contains 'amount' or option_name_lc contains 'kwot' %}
                    {% assign option_is_gift_amount = true %}
                    {% assign option_has_swatch = true %}
                  {% endif %}
                {% endif %}
              {% endif %}
              {% if is_simple_product %}
              <fieldset class="js product-form__input lip__field evamats-product-option evamats-product-option--{% if option_is_gift_amount %}amount{% elsif option_has_swatch %}swatch{% else %}text{% endif %}" data-option-position="{{ option.position }}"{% if option_is_gift_amount %} id="gift-card-amount" data-amount-position="{{ option.position }}"{% endif %}{% if option.name == 'Title' %} style="display: none"{% endif %}>
                <legend class="form__label evamats-product-option__legend">
                  <span class="evamats-product-option__label">{{ option.name }}</span>
                  <span class="evamats-product-option__value lip__title_value">
                    {%- if option_is_gift_amount -%}
                      {{- product.selected_or_first_available_variant.price | money -}}
                    {%- else -%}
                      {%- render 'evamats-strip-brand-label', text: option.selected_value -%}
                    {%- endif -%}
                  </span>
                </legend>
                {% render 'product-variant-options',
                  product: product,
                  option: option,
                  block: block,
                  is_simple_product: is_simple_product,
                  option_has_swatch: option_has_swatch,
                  option_is_gift_amount: option_is_gift_amount
                %}
              </fieldset>
              {% else %}
              <fieldset class="js product-form__input lip__field"{% if  option.name == "Title"%} style="display: none"{% endif %}{% if fieldsetClass != '' %} data-name="{{ fieldsetClass }}"{% endif %} data-option-position="{{ option.position }}">
                <legend class="form__label lip__title">
                  <span class="form__label_text">{{ option.name }}</span>
                  <div class="lip__title_value"></div>
                </legend>
                {% render 'product-variant-options', product: product, option: option, block: block %}
              </fieldset>
              {% endif %}
              {% if block.settings.show_discounts %}
                {% if option.name == 'Zestaw' %}
                  <div class="table_options__wr">
                    <div class="table_options__title">Uzyskaj rabat na swoje zamówienie</div>
                    <table width="100%">
                      <thead>
                        <tr>
                          <td>Rabat</td>
                          <td>Od</td>
                          <td>Kod</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>-5%</td>
                          <td>500 zł</td>
                          <td>NEWYEAR5%</td>
                        </tr>
                        <tr>
                          <td>-15%</td>
                          <td>1200 zł</td>
                          <td>NEWYEAR15%</td>
                        </tr>
                        <tr>
                          <td>-20%</td>
                          <td>2400 zł</td>
                          <td>NEWYEAR20%</td>
                        </tr>
                        <tr>
                          <td>-25%</td>
                          <td>3600 zł</td>
                          <td>NEWYEAR25%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                {% endif %}
              {% endif %}
            {%- endfor -%}

            {% if product.metafields.custom.outlet_options %}
              {% assign optionName = '' %}
              {% for item in product.metafields.custom.outlet_options.value %}
                {% case forloop.index %}
                  {% when 1 %}
                    {% assign optionName = 'Kolor materialu' %}
                  {% when 2 %}
                    {% assign optionName = 'Trim Color' %}
                  {% when 3 %}
                    {% assign optionName = 'Ksztalt komórek' %}
                  {% else %}

                {% endcase %}
              <fieldset class="js product-form__input" >
                <legend class="form__label lip__title">
                  <span class="form__label_text">{{ optionName }}</span>
                </legend>
                <input
                  type="radio"
                  id="{{ section.id }}-{{ optionName }}-{{ forloop.index0 }}"
                  name="properties[{{ optionName }}]"
                  data-title="{{ item }}"
                  value="{{ item | escape }}"
                  form="{{ product_form_id }}"

                    checked
                >
                <label for="{{ section.id }}-{{ optionName }}-{{ forloop.index0 }}">
                  {{ item -}}
                  <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
                </label>
              </fieldset>

            {% endfor %}
            {% endif %}
            <script type="application/json">
              {{ product.variants | json }}
            </script>
          </variant-radios>
    {% endif %}
  {%- else -%}
    <variant-selects
      id="variant-selects-{{ section.id }}"
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options', product: product, option: option, block: block %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              # TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter
              # theme-check-disable
              assign cart_quantity = cart | item_count_for_variant: variant.id
              # theme-check-enable
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>
