{%- liquid
  assign item_count = 0
  for block in section.blocks
    if block.type == 'item'
      assign item_count = item_count | plus: 1
    endif
  endfor
-%}

<section
  id="AdvValueGrid-{{ section.id }}"
  class="adv-value-grid-v2"
>
  <div class="adv-value-grid-v2__inner page-width">
    {%- if section.settings.heading != blank -%}
      <h2 class="adv-value-grid-v2__heading section_title">{{ section.settings.heading | escape }}</h2>
    {%- endif -%}

    {%- if item_count > 0 -%}
      <ul class="adv-value-grid-v2__grid" role="list">
        {%- for block in section.blocks -%}
          {%- if block.type == 'item' -%}
            <li class="adv-value-grid-v2__item" {{ block.shopify_attributes }}>
              <span class="adv-value-grid-v2__icon" aria-hidden="true">
                {%- case block.settings.icon -%}
                  {%- when 'hand' -%}
                    <svg class="adv-value-grid-v2__fig" width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <rect x="0.5" y="0.5" width="91" height="91" rx="45.5" fill="#fff" stroke="#E9E9E9"/>
                      <path d="M61.6212 48.021L61.4112 47.8898C61.0842 47.7673 60.8092 47.5361 60.6324 47.2351C60.4556 46.934 60.3876 46.5813 60.4399 46.236C60.5843 45.7373 61.2537 45.4879 61.2668 45.4748C61.4383 45.4116 61.5948 45.3132 61.7262 45.186C62.171 44.7509 62.5245 44.2313 62.7658 43.6577C63.0071 43.0841 63.1315 42.468 63.1315 41.8457C63.1315 41.2234 63.0071 40.6074 62.7658 40.0338C62.5245 39.4602 62.171 38.9405 61.7262 38.5054C61.0165 37.8068 60.1068 37.3467 59.1235 37.1891C58.1403 37.0315 57.1323 37.1842 56.2399 37.626C55.3801 37.9993 54.4461 38.1699 53.5099 38.1248H53.313C52.2222 38.1032 51.152 37.8244 50.1893 37.311C49.5173 36.9645 48.8023 36.7085 48.063 36.5498C47.5793 36.4438 47.0876 36.378 46.593 36.3529C45.9392 36.3091 45.2835 36.4033 44.6684 36.6294C44.0534 36.8556 43.4928 37.2085 43.023 37.6654C42.8628 37.8496 42.658 37.9898 42.4283 38.0725C42.1985 38.1552 41.9514 38.1777 41.7105 38.1379C41.4201 38.0338 41.1806 37.8224 41.0412 37.5473C40.6284 36.8833 40.0833 36.3115 39.4399 35.8673C38.4708 35.1574 37.3366 34.7065 36.1446 34.5572C34.9526 34.4079 33.7423 34.5652 32.628 35.0142C31.8683 35.3252 31.1704 35.7697 30.5674 36.3267C29.54 37.3945 28.9043 38.7787 28.7637 40.2538C28.6231 41.729 28.9859 43.2083 29.793 44.451C30.0627 44.8727 30.2208 45.3559 30.2524 45.8554C30.2507 46.506 30.0075 47.1327 29.5699 47.6142C29.0744 48.1521 28.7072 48.7952 28.4958 49.4954C28.2844 50.1955 28.2343 50.9344 28.3493 51.6567C28.4279 52.0881 28.5741 52.5045 28.7824 52.8904C29.3597 53.8292 30.2132 54.5666 31.2259 55.0013C32.2387 55.436 33.3611 55.5468 34.4393 55.3185C34.7586 55.2469 35.0836 55.203 35.4105 55.1873H36.6443C38.0295 55.1827 39.3672 55.6925 40.398 56.6179C42.41 58.4587 44.9393 59.6362 47.643 59.991C48.183 60.0578 48.7264 60.0929 49.2705 60.096C51.874 60.0745 54.4163 59.3045 56.5943 57.8779C57.5622 57.2739 58.6215 56.8307 59.7312 56.5654C60.7475 56.355 61.6758 55.8407 62.3931 55.0906C63.1104 54.3405 63.5827 53.3901 63.7474 52.3654C63.7618 51.5247 63.5766 50.6926 63.207 49.9374C62.8374 49.1822 62.2939 48.5254 61.6212 48.021ZM59.1274 54.0717C57.7376 54.391 56.4081 54.9317 55.1899 55.6729C53.0655 57.076 50.5124 57.6806 47.9843 57.3792C45.8101 57.1026 43.777 56.1525 42.1699 54.6623C40.651 53.3032 38.6824 52.555 36.6443 52.5623H35.4105C34.9165 52.5757 34.4245 52.6328 33.9405 52.7329C33.4056 52.8676 32.8422 52.8354 32.3261 52.6407C31.8099 52.4459 31.3657 52.098 31.053 51.6435C30.9728 51.4908 30.9153 51.3272 30.8824 51.1579C30.8528 50.8221 30.8987 50.484 31.0168 50.1683C31.1349 49.8526 31.3222 49.5674 31.5649 49.3335C32.4057 48.3693 32.8716 47.1347 32.8774 45.8554C32.8602 44.9096 32.6028 43.9837 32.1293 43.1648C31.6324 42.4266 31.3939 41.5447 31.4508 40.6568C31.5078 39.7688 31.8571 38.9246 32.4443 38.256C32.8238 37.9008 33.2699 37.6242 33.7568 37.4423C34.4532 37.161 35.2104 37.064 35.9553 37.1605C36.7001 37.2571 37.4076 37.544 38.0093 37.9935C38.3398 38.2416 38.6167 38.5542 38.823 38.9123C39.2683 39.7661 40.0177 40.4218 40.923 40.7498C41.6239 40.9232 42.3584 40.9064 43.0506 40.701C43.7428 40.4956 44.3676 40.1092 44.8605 39.5817C45.0672 39.3847 45.3132 39.2337 45.5824 39.1387C45.8516 39.0437 46.1379 39.0068 46.4224 39.0304C46.7708 39.0482 47.1174 39.0921 47.4593 39.1617C47.9731 39.2819 48.471 39.4626 48.9424 39.6998C50.274 40.4044 51.7541 40.7823 53.2605 40.8023H53.4574C54.8112 40.8581 56.1594 40.5974 57.3949 40.041C57.8 39.8436 58.2557 39.7743 58.7012 39.8423C59.1467 39.9103 59.5609 40.1124 59.8887 40.4217C60.2567 40.7832 60.4757 41.2696 60.5024 41.7848C60.5291 42.3 60.3616 42.8065 60.033 43.2042C59.5416 43.4242 59.1005 43.7428 58.737 44.1401C58.3736 44.5374 58.0955 45.0051 57.9199 45.5142C57.6939 46.4254 57.7838 47.3863 58.1748 48.2398C58.5658 49.0933 59.2348 49.7889 60.0724 50.2129C60.3805 50.4456 60.6349 50.7418 60.8183 51.0815C61.0018 51.4212 61.1099 51.7964 61.1355 52.1817C61.0091 52.652 60.7543 53.0778 60.3996 53.4116C60.045 53.7454 59.6045 53.9739 59.1274 54.0717Z" fill="#1B1D22"/>
                      <path d="M50.3099 32.875C50.5029 33.6288 50.9423 34.2965 51.5582 34.7721C52.174 35.2476 52.9311 35.5039 53.7093 35.5C53.9924 35.4975 54.2742 35.4622 54.5493 35.395L56.5049 34.9356C57.0186 34.8129 57.4979 34.5756 57.9071 34.2415C58.3162 33.9074 58.6444 33.4851 58.8674 33.0062C59.0822 32.5388 59.1868 32.0282 59.1732 31.514C59.1595 30.9997 59.028 30.4954 58.7886 30.04C58.558 29.5963 58.2348 29.2073 57.8408 28.8993C57.4467 28.5913 56.9912 28.3716 56.5049 28.255L54.3261 27.73C53.7323 27.5802 53.1096 27.5886 52.5201 27.7544C51.9306 27.9202 51.3948 28.2376 50.9661 28.675C50.5491 29.0915 50.2485 29.6099 50.0942 30.1787C49.9399 30.7475 49.9373 31.3468 50.0868 31.9169L50.3099 32.875ZM52.8036 30.4994C52.8876 30.4153 52.9881 30.3497 53.0989 30.3068C53.2096 30.2638 53.3281 30.2445 53.4468 30.25H53.6699L55.8486 30.775C55.9695 30.8038 56.0827 30.8586 56.1802 30.9357C56.2776 31.0128 56.3571 31.1102 56.413 31.2212C56.465 31.3252 56.492 31.4397 56.492 31.5559C56.492 31.6721 56.465 31.7867 56.413 31.8906C56.3552 32.0078 56.2723 32.1109 56.1702 32.1925C56.0682 32.2742 55.9494 32.3324 55.8224 32.3631L53.8799 32.875C53.6555 32.9328 53.4176 32.9024 53.2149 32.7901C53.0123 32.6778 52.8604 32.4921 52.7905 32.2712L52.5674 31.2606C52.5362 31.1282 52.5417 30.9898 52.5834 30.8603C52.625 30.7308 52.7011 30.6151 52.8036 30.5256V30.4994Z" fill="#1B1D22"/>
                      <path d="M37.2098 57.8125C36.8884 57.2146 36.3481 56.7645 35.702 56.5565C35.056 56.3485 34.3545 56.3988 33.7448 56.6969L30.4241 58.2719C30.0086 58.4709 29.6528 58.7758 29.3925 59.156C29.1321 59.5361 28.9764 59.9781 28.941 60.4375C28.917 60.8899 29.0167 61.3404 29.2295 61.7405C29.4422 62.1405 29.7599 62.475 30.1485 62.7081L32.2616 64.0206C32.6897 64.2779 33.1797 64.414 33.6791 64.4144C34.3614 64.4115 35.0157 64.1432 35.5035 63.6662L37.3279 61.9862C37.7345 61.6158 38.0058 61.1202 38.0985 60.578C38.1913 60.0358 38.1002 59.4782 37.8398 58.9937L37.2098 57.8125ZM33.6266 61.75L31.7235 60.5687L34.8998 59.125L35.4641 60.1487L33.6266 61.75Z" fill="#1B1D22"/>
                      <path d="M43.5313 48.1921C43.8098 47.6524 43.9552 47.0538 43.9552 46.4465C43.9552 45.8391 43.8098 45.2406 43.5313 44.7008C42.964 43.591 42.0771 42.6766 40.985 42.0758C38.4388 40.6058 35.5513 40.9996 34.4225 42.9946C33.2938 44.9896 34.4225 47.6933 36.9294 49.1633C37.8783 49.7187 38.9538 50.0214 40.0531 50.0427H40.5256C41.1402 50.0054 41.7361 49.817 42.2605 49.4942C42.7848 49.1714 43.2213 48.7241 43.5313 48.1921ZM41.2606 46.8796C41.1415 47.0227 40.9933 47.1389 40.8259 47.2204C40.6584 47.3018 40.4755 47.3467 40.2894 47.3521C39.5739 47.3859 38.8648 47.2029 38.255 46.8271C36.9425 46.079 36.365 44.8452 36.7063 44.2021C36.8467 44.0252 37.0305 43.8876 37.2397 43.8025C37.4489 43.7174 37.6766 43.6878 37.9006 43.7165C38.5399 43.7303 39.1643 43.9113 39.7119 44.2415C40.3416 44.5866 40.8536 45.1122 41.1819 45.7508C41.2784 45.9212 41.3355 46.111 41.3491 46.3063C41.3628 46.5016 41.3325 46.6975 41.2606 46.8796Z" fill="#1B1D22"/>
                      <path d="M53.3496 41.9838C52.4209 41.8028 51.4586 41.9271 50.6065 42.3382C50.1564 42.4941 49.7419 42.7378 49.3868 43.0552C49.0318 43.3727 48.7433 43.7574 48.5382 44.1872C48.3331 44.617 48.2153 45.0833 48.1919 45.559C48.1684 46.0347 48.2396 46.5103 48.4015 46.9582C48.6784 47.5146 49.1113 47.9784 49.6473 48.293C50.1834 48.6077 50.7994 48.7595 51.4202 48.73C52.0867 48.7234 52.7442 48.5758 53.3496 48.2969C54.2169 47.909 54.9353 47.2505 55.3971 46.42C55.6396 46.0059 55.7804 45.5401 55.8077 45.0609C55.8351 44.5817 55.7484 44.1029 55.5546 43.6638C55.3436 43.2311 55.0343 42.8538 54.6514 42.5621C54.2686 42.2704 53.8227 42.0723 53.3496 41.9838ZM53.0871 45.1732C52.8921 45.5011 52.598 45.7585 52.2471 45.9082C51.5121 46.2494 50.9346 46.0657 50.7902 45.9082C50.6458 45.7507 50.9608 45.1075 51.709 44.7663C51.9646 44.6495 52.2417 44.5869 52.5227 44.5825C52.6185 44.5696 52.7156 44.5696 52.8115 44.5825C52.8823 44.5894 52.9508 44.6118 53.012 44.6481C53.0732 44.6844 53.1258 44.7337 53.1658 44.7925C53.2183 44.8582 53.179 45.0025 53.0871 45.1732Z" fill="#1B1D22"/>
                      <path d="M50.5938 49.9375C49.9448 49.9375 49.3104 50.1299 48.7708 50.4905C48.2312 50.851 47.8106 51.3635 47.5623 51.9631C47.3139 52.5626 47.2489 53.2224 47.3755 53.8589C47.5022 54.4954 47.8147 55.0801 48.2736 55.5389C48.7324 55.9978 49.3171 56.3103 49.9536 56.437C50.5901 56.5636 51.2499 56.4986 51.8494 56.2502C52.449 56.0019 52.9615 55.5813 53.322 55.0417C53.6826 54.5021 53.875 53.8677 53.875 53.2188C53.875 52.3485 53.5293 51.5139 52.9139 50.8986C52.2986 50.2832 51.464 49.9375 50.5938 49.9375ZM50.5938 53.875C50.464 53.875 50.3371 53.8365 50.2292 53.7644C50.1212 53.6923 50.0371 53.5898 49.9875 53.4699C49.9378 53.35 49.9248 53.218 49.9501 53.0907C49.9754 52.9634 50.0379 52.8465 50.1297 52.7547C50.2215 52.6629 50.3384 52.6004 50.4657 52.5751C50.593 52.5498 50.725 52.5628 50.8449 52.6125C50.9648 52.6621 51.0673 52.7462 51.1394 52.8542C51.2115 52.9621 51.25 53.089 51.25 53.2188C51.25 53.3928 51.1809 53.5597 51.0578 53.6828C50.9347 53.8059 50.7678 53.875 50.5938 53.875Z" fill="#1B1D22"/>
                      <path d="M42.0625 34.1875C42.4106 34.1875 42.7444 34.0492 42.9906 33.8031C43.2367 33.5569 43.375 33.2231 43.375 32.875C43.375 32.5269 43.2367 32.1931 42.9906 31.9469C42.7444 31.7008 42.4106 31.5625 42.0625 31.5625C41.7144 31.5625 41.3806 31.7008 41.1344 31.9469C40.8883 32.1931 40.75 32.5269 40.75 32.875C40.75 33.2231 40.8883 33.5569 41.1344 33.8031C41.3806 34.0492 41.7144 34.1875 42.0625 34.1875Z" fill="#1B1D22"/>
                      <path d="M46 40.75C45.7404 40.75 45.4867 40.827 45.2708 40.9712C45.055 41.1154 44.8867 41.3204 44.7874 41.5602C44.6881 41.8001 44.6621 42.064 44.7127 42.3186C44.7634 42.5732 44.8884 42.807 45.0719 42.9906C45.2555 43.1741 45.4893 43.2991 45.7439 43.3498C45.9985 43.4004 46.2624 43.3744 46.5023 43.2751C46.7421 43.1758 46.9471 43.0075 47.0913 42.7917C47.2355 42.5758 47.3125 42.3221 47.3125 42.0625C47.3125 41.7144 47.1742 41.3806 46.9281 41.1344C46.6819 40.8883 46.3481 40.75 46 40.75Z" fill="#1B1D22"/>
                      <path d="M43.375 51.25C43.1154 51.25 42.8617 51.327 42.6458 51.4712C42.43 51.6154 42.2617 51.8204 42.1624 52.0602C42.0631 52.3001 42.0371 52.564 42.0877 52.8186C42.1384 53.0732 42.2634 53.307 42.4469 53.4906C42.6305 53.6741 42.8643 53.7991 43.1189 53.8498C43.3735 53.9004 43.6374 53.8744 43.8773 53.7751C44.1171 53.6758 44.3221 53.5075 44.4663 53.2917C44.6105 53.0758 44.6875 52.8221 44.6875 52.5625C44.6875 52.2144 44.5492 51.8806 44.3031 51.6344C44.0569 51.3883 43.7231 51.25 43.375 51.25Z" fill="#1B1D22"/>
                      <path d="M57.8125 49.9375C57.5529 49.9375 57.2992 50.0145 57.0833 50.1587C56.8675 50.3029 56.6992 50.5079 56.5999 50.7477C56.5006 50.9876 56.4746 51.2515 56.5252 51.5061C56.5759 51.7607 56.7009 51.9945 56.8844 52.1781C57.068 52.3616 57.3018 52.4866 57.5564 52.5373C57.811 52.5879 58.0749 52.5619 58.3148 52.4626C58.5546 52.3633 58.7596 52.195 58.9038 51.9792C59.048 51.7633 59.125 51.5096 59.125 51.25C59.125 50.9019 58.9867 50.5681 58.7406 50.3219C58.4944 50.0758 58.1606 49.9375 57.8125 49.9375Z" fill="#1B1D22"/>
                      </svg>
                      
                  {%- when 'water' -%}
                    <svg class="adv-value-grid-v2__fig" width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <rect x="0.5" y="0.5" width="91" height="91" rx="45.5" fill="#fff" stroke="#E9E9E9"/>
                      <path d="M47.6391 29.6702C47.5285 29.4731 47.3689 29.308 47.1757 29.1907C46.9826 29.0734 46.7624 29.008 46.5366 29.0008C46.3116 28.993 46.0884 29.0433 45.8884 29.1467C45.6884 29.2501 45.5184 29.4033 45.3947 29.5914L34.816 45.8008L34.7372 45.9452C33.9437 47.7622 33.6203 49.7498 33.797 51.7247C33.9736 53.6997 34.6445 55.5983 35.7478 57.2458C36.7782 59.0004 38.2408 60.462 39.9961 61.4913C41.7514 62.5206 43.741 63.0833 45.7753 63.1258C47.8117 63.0842 49.8035 62.5221 51.5611 61.4928C53.3186 60.4635 54.7834 59.0014 55.816 57.2458C56.9223 55.5862 57.5903 53.6735 57.7579 51.686C57.9254 49.6985 57.587 47.7009 56.7741 45.8795L47.6391 29.6702ZM53.5847 55.9202C52.7797 57.2845 51.6401 58.4211 50.2737 59.2226C48.9073 60.0241 47.3591 60.464 45.7753 60.5008C44.1859 60.4547 42.6344 60.0038 41.2679 59.1908C39.9013 58.3777 38.7648 57.2294 37.966 55.8545C37.1057 54.5952 36.5725 53.1416 36.4144 51.6247C36.2563 50.1078 36.4783 48.5754 37.0603 47.1658L46.4185 32.8333L54.451 47.1002C55.0503 48.5154 55.2851 50.0583 55.1337 51.5878C54.9824 53.1172 54.4498 54.5842 53.5847 55.8545V55.9202Z" fill="#1B1D22"/>
                      <rect x="28.75" y="62" width="46.967" height="2" transform="rotate(-45 28.75 62)" fill="#FF2741"/>
                      </svg>
                      
                  {%- when 'brush' -%}
                    <svg class="adv-value-grid-v2__fig" width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <rect x="0.5" y="0.5" width="91" height="91" rx="45.5" fill="#fff" stroke="#E9E9E9"/>
                      <mask id="AdvValueGridMask-{{ block.id }}" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="25" y="25" width="43" height="42">
                      <path d="M25.25 25H67.25V67H25.25V25Z" fill="white"/>
                      </mask>
                      <g mask="url(#AdvValueGridMask-{{ block.id }})">
                      <path d="M40.0938 51.7422C40.0938 49.0239 42.2973 46.8203 45.0156 46.8203V44.3594C42.2973 44.3594 40.0938 42.1558 40.0938 39.4375H37.6328C37.6328 42.1558 35.4293 44.3594 32.7109 44.3594V46.8203C35.4293 46.8203 37.6328 49.0239 37.6328 51.7422H40.0938ZM38.8633 47.66C38.318 46.8399 37.6133 46.1351 36.7932 45.5898C37.6133 45.0446 38.318 44.3398 38.8633 43.5197C39.4085 44.3398 40.1133 45.0446 40.9333 45.5898C40.1132 46.1351 39.4085 46.8399 38.8633 47.66Z" fill="#1B1D22"/>
                      <path d="M32.7148 66.5078C32.7148 63.7896 34.9184 61.5859 37.6367 61.5859V59.125C34.9184 59.125 32.7148 56.9214 32.7148 54.2031H30.2539C30.2539 56.9004 27.9896 59.125 25.25 59.125V61.5859C27.9745 61.5859 30.2297 63.7867 30.2537 66.4641C30.2538 66.4787 30.2539 66.4932 30.2539 66.5078H32.7148ZM31.4721 62.444C30.9144 61.6152 30.1928 60.9043 29.3566 60.3555C30.1928 59.8067 30.9145 59.096 31.4722 58.2672C32.0191 59.0951 32.7283 59.8062 33.5545 60.3555C32.7282 60.9048 32.019 61.616 31.4721 62.444Z" fill="#1B1D22"/>
                      <path d="M67.2488 26.3292L64.9392 25.4796L57.7109 45.1279L60.0206 45.9775L67.2488 26.3292Z" fill="#1B1D22"/>
                      <path d="M63.7009 53.8589L49.8261 48.8088L48.9844 51.1214L62.8592 56.1714L63.7009 53.8589Z" fill="#1B1D22"/>
                      <path d="M51.8676 66.29C55.4498 66.2972 58.9119 64.5478 61.0721 61.5522L61.1229 61.4812C62.2508 59.8916 63.4315 57.8964 64.4178 55.4804L64.4268 55.4584L64.435 55.4361L65.2765 53.1236C65.9738 51.2079 64.986 49.0895 63.0703 48.3922L61.7166 47.8996C61.7308 46.379 60.7973 44.9461 59.2871 44.3963C57.7767 43.8466 56.1403 44.3442 55.1738 45.5182L53.82 45.0256L53.8201 45.0256C51.9043 44.3283 49.7862 45.316 49.0889 47.2317L49.0888 47.2318L47.8452 50.6488C46.7256 53.7251 43.5881 55.6809 40.3032 55.3804L38.2734 55.1948L39.0546 57.0774C39.483 58.1098 40.0165 59.0777 40.6396 59.9705L40.6397 59.9706C42.2491 62.2757 44.8541 63.6524 47.5634 63.9738V65.4365L48.4048 65.717C49.5283 66.0914 50.6612 66.2875 51.8676 66.29ZM51.8726 63.8291C51.237 63.8278 50.6286 63.7577 50.0244 63.6193V61.5858H48.7939C46.3596 61.5858 43.9912 60.472 42.6576 58.5619C42.4847 58.3141 42.3199 58.0594 42.1638 57.798C45.7315 57.3577 48.8903 54.973 50.1577 51.4904L51.4014 48.0734L51.4126 48.0438C51.6558 47.4247 52.3498 47.1093 52.9783 47.3381L52.9784 47.3382L56.4472 48.6004L56.8681 47.4443C57.1006 46.8057 57.8067 46.4764 58.4452 46.7088L58.4749 46.72C59.094 46.9634 59.4094 47.6573 59.1807 48.286L58.7598 49.4423L62.2285 50.7048L62.2582 50.716C62.8773 50.9592 63.1928 51.6533 62.964 52.2819L62.9639 52.282L62.131 54.5708C61.2271 56.7796 60.1471 58.6036 59.1158 60.0571C57.4194 62.4477 54.6794 63.8347 51.8726 63.8291Z" fill="#1B1D22"/>
                      </g>
                      </svg>
                      
                  {%- when 'diamond' -%}
                    <svg class="adv-value-grid-v2__fig" width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <rect x="0.5" y="0.5" width="91" height="91" rx="45.5" fill="#fff" stroke="#E9E9E9"/>
                      <g clip-path="url(#AdvValueGridClip-{{ block.id }})">
                      <path d="M59.3825 32.4206L62.5452 30.5458L66.3692 32.8125L64.1022 28.9888L66.3692 25.1641L62.5452 27.4318L58.7208 25.1641L60.9882 28.9888L59.0704 32.2232H31.8241L24.5391 44.5943L46.0691 66.8587L66.5391 44.5731L59.3825 32.4206ZM50.8256 45.6382L45.9649 61.2162L40.3769 45.6382H50.8256ZM40.8594 43.1872L45.5637 35.7432L50.2677 43.1872H40.8594ZM47.7879 34.6746H56.5172L52.4258 42.0138L47.7879 34.6746ZM38.7013 42.0138L34.6103 34.6746H43.3393L38.7013 42.0138ZM36.549 43.1872H28.2125L32.4951 35.9143L36.549 43.1872ZM37.7727 45.6382L42.9708 60.1286L28.9585 45.6382H37.7727ZM53.3936 45.6382H62.2321L48.8466 60.2109L53.3936 45.6382ZM54.5785 43.1872L58.6144 35.9467L62.8781 43.1872H54.5785Z" fill="#1B1D22"/>
                      </g>
                      <defs>
                      <clipPath id="AdvValueGridClip-{{ block.id }}">
                      <rect width="42" height="42" fill="white" transform="translate(24.5391 25)"/>
                      </clipPath>
                      </defs>
                      </svg>
                      
                  {%- else -%}
                    <svg class="adv-value-grid-v2__svg" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="24" cy="24" r="14" stroke="#1B1D22" stroke-width="1.5"/>
                    </svg>
                {%- endcase -%}
              </span>
              {%- if block.settings.label != blank -%}
                <p class="adv-value-grid-v2__label">{{ block.settings.label | escape }}</p>
              {%- endif -%}
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}

    {%- if section.settings.footer_line != blank -%}
      <p class="adv-value-grid-v2__footer">
        <span class="adv-value-grid-v2__footer-gradient">{{ section.settings.footer_line | escape }}</span>
      </p>
    {%- endif -%}
  </div>
</section>

{% comment %} styles moved to assets/base_v2.css (style) {% endcomment %}

{% schema %}
{
  "name": "ADV value grid v2",
  "tag": "section",
  "class": "section_v2",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Co zmienia się po przejściu na ten typ dywaników"
    },
    {
      "type": "textarea",
      "id": "footer_line",
      "label": "Line under items (gradient text)",
      "default": "To różnica, którą widzisz codziennie."
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            { "value": "hand", "label": "Hand" },
            { "value": "water", "label": "Water drop" },
            { "value": "brush", "label": "Brush / clean" },
            { "value": "diamond", "label": "Diamond" }
          ],
          "default": "hand"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Brud zostaje na powierzchni"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ADV value grid v2",
      "category": "V2",
      "blocks": [
        {
          "type": "item",
          "settings": { "icon": "hand", "label": "Brud zostaje na powierzchni" }
        },
        {
          "type": "item",
          "settings": { "icon": "water", "label": "Woda nie wnika w materiał" }
        },
        {
          "type": "item",
          "settings": { "icon": "brush", "label": "Czyszczenie zajmuje kilkanaście sekund" }
        },
        {
          "type": "item",
          "settings": { "icon": "diamond", "label": "Wnętrze wygląda świeżo przez lata" }
        }
      ]
    }
  ]
}
{% endschema %}
