
{% style %}
    .collapsible-text--{{ section.id }}{
        padding-top: {{ section.settings.padding_top_mobile }}px;
        padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }

    @media screen and (min-width: 990px) {
        .collapsible-text--{{ section.id }} {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<div class="collapsible-text collapsible-text--{{ section.id }}">
    <div class="page-width">
        <div class="collapsible-text__wrapper">
            {% if section.settings.richtext %}
                <div class="collapsible-text__richtext">
                    {{ section.settings.richtext }}
                </div>
            {% endif %}
            {% if section.settings.richtext %}
                <div id="collapsibleContent" class="collapsible-text__collapsible">
                    {{ section.settings.collapsible_richtext }}
                </div>
                <div id="collapsibleButton" data-more-text="{{ section.settings.button_text_more | strip_html }}"  data-less-text="{{ section.settings.button_text_less  | strip_html  }}" class="btn-read-more-page">
                    {{ section.settings.button_text_more }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    const collapsibleButton = document.getElementById('collapsibleButton');
    const collapsibleContent = document.getElementById('collapsibleContent');
    collapsibleButton.addEventListener('click', ()=>{
        if(collapsibleContent.classList.contains('active')){
            collapsibleContent.classList.remove('active'); 
            collapsibleButton.innerText = collapsibleButton.getAttribute('data-more-text')
        }else{
            collapsibleContent.classList.add('active');  
            collapsibleButton.innerText = collapsibleButton.getAttribute('data-less-text')
        }
    });
</script>
 
{% schema %}
  {
    "name": "Collapsible text",
    "settings": [
        {
            "type": "richtext",
            "id": "richtext",
            "label": "Richtext"
        },
        {
            "type": "richtext",
            "id": "collapsible_richtext",
            "label": "Collapsible block"
        },
        {
            "type": "text",
            "id": "button_text_more",
            "label": "Button text (more)",
            "default": "Read more"
        },
        {
            "type": "text",
            "id": "button_text_less",
            "label": "Button text (less)",
            "default": "Read less"
        },
        {
            "type": "header",
            "content": "Padding mobile"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom",
            "default": 80
        },
        {
            "type": "header",
            "content": "Padding desktop"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 80
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom",
            "default": 80
        }
    ],
    "presets": [
      {
        "name": "Collapsible text"
      }
    ]
  }
{% endschema %}