{{ 'section-compare-cards.css' | asset_url | stylesheet_tag }}


{% style %}
    .compare-cards--{{ section.id }}{
        padding-top: {{ section.settings.padding_top_mobile }}px;
        padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }

    @media screen and (min-width: 990px) {
        .compare-cards--{{ section.id }} {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<div class="compare-cards compare-cards--{{ section.id }}" style="
    {% if section.settings.background != blank %}
            background-color: {{ section.settings.background }};
    {% endif %}

        ">

    {% if section.settings.image_top_right != blank %}
        <div class="compare-cards__decor compare-cards__decor--top-right">
            {{
            section.settings.image_top_right
            | image_url: width: 600
            | image_tag:
            loading: 'lazy',
            class: 'compare-cards__decor-image'
            }}
        </div>
    {% endif %}

    {% if section.settings.image_bottom_left != blank %}
        <div class="compare-cards__decor compare-cards__decor--bottom-left">
            {{
            section.settings.image_bottom_left
            | image_url: width: 600
            | image_tag:
            loading: 'lazy',
            class: 'compare-cards__decor-image'
            }}
        </div>
    {% endif %}

    <div class="compare-cards__page-width">
        <div class="compare-cards__wrapper">
            <div class="compare-cards__blocks">
            {% for block in section.blocks %}
                <div class="compare-cards__block compare-cards__block--{{ forloop.index }}">
                    {% liquid 
                        assign header = block.settings.header
                        assign image = block.settings.image
                        assign unordered_list = block.settings.unordered_list

                        assign button_label = block.settings.button_label
                        assign button_link = block.settings.button_link
                        assign button_visibility = block.settings.button_visibility
                    %}
                    <div class="compare-cards__image-wrapper">
                        <div class="compare-cards__image">
                            {% if image != blank %}
                                <picture>
                                    {{
                                    image
                                    | image_url: width: 1500
                                    | image_tag:
                                    width: imageWidth,
                                    height: imageHeight,
                                    class: 'lazy',
                                    sizes: '100vw',
                                    widths: '375, 550, 750, 1100, 1500',
                                    loading: 'lazy',
                                    alt: image.alt
                                    }}
                                </picture>
                            {% else %}
                                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="compare-cards__content">
                        {% if header != blank %}
                            <div class="compare-cards__header">
                                {{ header }}
                            </div>
                        {% endif %}
                        {% if unordered_list != blank %}
                            <div class="compare-cards__unordered-list">
                                {{ unordered_list }}
                            </div>  
                        {% endif %}

                        {% if button_label != blank %}
                            <div
                                    class="
                                    compare-cards__button-wrapper
                                    {% if button_visibility == 'desktop' %}
                                        compare-cards__button-wrapper--desktop
                                    {% elsif button_visibility == 'mobile' %}
                                        compare-cards__button-wrapper--mobile
                                    {% endif %}
                                "
                            >
                                <a href="{{ button_link }}" class="button compare-cards__button">
                                    {{ button_label }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
 
{% schema %}
  {
    "name": "Compare cards",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#1B1D22"
      },
      {
        "type": "image_picker",
        "id": "image_top_right",
        "label": "Top right image"
      },
      {
        "type": "image_picker",
        "id": "image_bottom_left",
        "label": "Bottom left image"
      },
        {
            "type": "header",
            "content": "Padding mobile"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom",
            "default": 80
        },
        {
            "type": "header",
            "content": "Padding desktop"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 80
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom",
            "default": 80
        }
    ],
    "blocks": [
        {
            "name": "Block",
            "type": "block",
          "limit": 2,
            "settings": [
                {
                    "type": "richtext",
                    "id": "header",
                    "label": "Title",
                    "default": "<h2>Wady gumowych dywaników</h2>"
                },
                {
                    "type": "richtext",
                    "id": "unordered_list",
                    "label": "Unordered List"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
              {
                "type": "select",
                "id": "button_visibility",
                "label": "Show button on",
                "default": "all",
                "options": [
                  {
                    "value": "all",
                    "label": "Desktop and mobile"
                  },
                  {
                    "value": "desktop",
                    "label": "Desktop only"
                  },
                  {
                    "value": "mobile",
                    "label": "Mobile only"
                  }
                ]
              },
              {
                "type": "text",
                "id": "button_label",
                "label": "Button label"
              },
              {
                "type": "url",
                "id": "button_link",
                "label": "Button link"
              }
            ]
        }
    ],
    "presets": [
      {
        "name": "Compare cards"
      }
    ]
  }
{% endschema %}